/* IMPOSTAZIONI GENERALI */
body{
    background-image: url(../img/sfondo.png);
    background-size: auto;
    padding: 4%;
    font-family: "Poppins", sans-serif;
    
}


/* HEADER */
header{
    font-size: 1.1em;
    box-shadow: 2px 3px 12px -2px #000000;
}
header div{
    text-align: center;
    background: linear-gradient(38deg, #036e88, #0099bb);
    color: aliceblue;
}
header div div{
    padding: 8%;
}
header div div img{
    padding: auto;
    width: 70%;
}
header div div h1{
    padding-top: 8%;
    padding-bottom: 8%;
}
header div div ul{
    padding-bottom: auto;
    color: aliceblue;
}
header div div ul li{
    padding: 1%;
}
header a{
    text-decoration: none;
    color: aliceblue;
}
/* MAIN */
main {
   background-color: white;
   margin-top: 4%;
   box-shadow: 0px 7px 16px 2px rgba(0,0,0,0.67);
}
main div{
    padding: 6%;
}
main div div{
    padding: 0%
}
.titleMain{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.8em;
    margin-top: 0.8em;
    line-height: 120%;

}
/* ELEMENTI NEL MAIN - ARTICLE */
.Space{
    margin-top: 1.8em;
    margin-bottom: 1.8em;
    line-height: 150%;
}
.ulClass{
    margin-top: 1.8em;
    margin-bottom: 1.8em;
    margin-left: 1.8em;
    line-height: 150%;
    list-style: square;
}
.OlClass{
    margin-top: 1.8em;
    margin-bottom: 1.8em;
    margin-left: 1.8em;
    line-height: 150%;
    list-style: decimal;
}
.titleSecond{
    text-align: center;
    font-weight: bold;
}
.Space a{
    color: rgb(63, 137, 206);
    font-weight: bold;
}
span{
    color: purple;
    font-weight: bold;
}

/* TABELLE */
table {
    border-bottom: 2px solid #3969c8;
    border-collapse: unset;
}
thead{
        background-color: #3969c8;
        color: white;
}
td, th {
    padding:1em;
}
.tableGrey{
    background-color: #f4f4f4;
}
iframe{
    height: 200px;
    width: 100%;
    border-radius: 30px;
}
.formtext{
    background-color: #e3dfe1;
    
}
.formtext h1{
    font-weight: bold;
    font-size: 1.6em;
    padding: 10%;
    text-align: center;
}
.formtext p{
    text-align: center;
}
.formtext input{
    margin-bottom: 20px;
    margin-left: 20px;
    width: 60%;
    height: 23px;
    border: none;
}
.formtext button{
    background-color: #3969c8;
    color: white;
    border: none;
    height: 25px;
    width: 25%;
}
.custominput{
    width: 100%;
}
#correlateArt{
   text-align: center; 
   font-size: 1.6em;
   font-weight: bold;
}


/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
